@import "tailwindcss";

:root {
  --primary-color: #000;
    --secondary-color: #fff;
    --button-bg: #413312;
    --button-text: #fff;
    --font-h1: titillium-web-regular;
    --font-p: gilda-display-regular;
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary-color: #000;
    --secondary-color: #fff;
    --button-bg: #413312;
    --button-text: #fff;
    --font-h1: titillium-web-regular;
    --font-p: gilda-display-regular;
  }
}
@import "primereact/resources/themes/lara-light-blue/theme.css";
@import "primereact/resources/primereact.min.css";
@import "primeicons/primeicons.css";

body {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  font-family: var(--font-p);
}

h1 {
  font-family: var(--font-h1);
  font-size: 32px;
}
button {
  background-color: var(--button-bg);
  color: var(--button-text);
}
